html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*************** Variables ***************/
/*************** STYLE ***************/
html,
body {
  background-color: #213534;
  height: 100vh;
}

/* basic structure for the rays setup */
#raysScene {
  position: absolute;
  width: 490px;
  height: 490px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: showRays 0.8s linear 14s 1 forwards;
}

#rays {
  /* with animation properties */
  background: url(../img/bg/rays.png) 0 0 no-repeat;
  position: absolute;
  width: 490px;
  height: 490px;
  /* microsoft ie */
  animation-name: spin;
  animation-duration: 40000ms;
  /* 40 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

main {
  position: relative;
  height: 97vh;
  top: calc(100vh - 97vh);
  margin: 0px auto;
  width: 160px;
}

main #bun-top {
  background: url(../img/burger/9_bun_top.png) center center no-repeat;
  top: 0px;
  animation: slideFromLeft 1s ease 0s forwards, bunTopSqueeze 0.6s ease-out 13s forwards;
}

main #bacon {
  background: url(../img/burger/8_bacon.png) center center no-repeat;
  top: 70px;
  animation: slideFromLeft 1s ease 1s forwards, baconSqueeze 0.6s ease-out 12s forwards;
}

main #lettuce {
  background: url(../img/burger/7_lettuce.png) center center no-repeat;
  top: 140px;
  animation: slideFromLeft 1s ease 2s forwards, lettuceSqueeze 0.6s ease-out 11s forwards;
}

main #tomatos {
  background: url(../img/burger/6_tomato.png) center center no-repeat;
  top: 210px;
  animation: slideFromLeft 1s ease 3s forwards, tomatosSqueeze 0.6s ease-out 10s forwards;
}

main #brains {
  background: url(../img/burger/brains_02.png) center center no-repeat;
  top: 280px;
  height: 105px;
  animation: slideFromLeft 1s ease 4s forwards;
}

main #cheese {
  background: url(../img/burger/4_cheese.png) center center no-repeat;
  top: 385px;
  animation: slideFromLeft 1s ease 5s forwards, cheeseSqueeze 0.6s ease-out 10s forwards;
}

main #meat {
  background: url(../img/burger/3_meat.png) center center no-repeat;
  top: 455px;
  animation: slideFromLeft 1s ease 6s forwards, meatSqueeze 0.6s ease-out 11s forwards;
}

main #ketchup {
  background: url(../img/burger/2_ketchup.png) center center no-repeat;
  top: 525px;
  animation: slideFromLeft 1s ease 7s forwards, ketchupSqueeze 0.6s ease-out 12s forwards;
}

main #bun-bottom {
  background: url(../img/burger/1_bun_bottom.png) center center no-repeat;
  top: 595px;
  animation: slideFromLeft 1s ease 8s forwards, bunBottomSqueeze 0.6s ease-out 13s forwards;
}

main .burger {
  position: absolute;
  width: 160px;
  background-size: contain !important;
  height: 70px;
  left: -1000px;
}

/*************** Keyframes ***************/
@keyframes slideFromLeft {
  100% {
    left: 0;
  }
}

@keyframes bunBottomSqueeze {
  100% {
    top: 388px;
  }
}

@keyframes ketchupSqueeze {
  100% {
    top: 381px;
  }
}

@keyframes meatSqueeze {
  100% {
    top: 354px;
  }
}

@keyframes cheeseSqueeze {
  100% {
    top: 343px;
  }
}

@keyframes tomatosSqueeze {
  100% {
    top: 258px;
  }
}

@keyframes lettuceSqueeze {
  100% {
    top: 240px;
  }
}

@keyframes baconSqueeze {
  100% {
    top: 230px;
  }
}

@keyframes bunTopSqueeze {
  100% {
    top: 200px;
  }
}

/* RAYS animation */
/* keyframes for animation;  simple 0 to 360 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes showRays {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
