@import 'normalize';
@import 'reset';

/*************** Variables ***************/
$burger-width: 160px;
$burger-height: 70px;
$background-suffix: "center center no-repeat";
$squeeze-duration: .6s;
$squeeze-delay: 10s;


/*************** STYLE ***************/
html,
body {
	background-color: hsl(177, 23%, 17%);
	height: 100vh;
}

/* basic structure for the rays setup */
#raysScene	{
	position: absolute;
	width: 490px;
	height: 490px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	animation: showRays .8s linear $squeeze-delay + 4s 1 forwards;
}

#rays	{ /* with animation properties */
	background: url(../img/bg/rays.png) 0 0 no-repeat;
	position: absolute;
	width: 490px;
	height: 490px;

	/* microsoft ie */
	animation-name: spin;
	animation-duration: 40000ms; /* 40 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

main {
	position: relative;
	height: 97vh;
	top: calc(100vh - 97vh);
	margin: 0px auto;
	width: $burger-width;

	#bun-top {
		background: url(../img/burger/9_bun_top.png) #{$background-suffix};
		top: $burger-height * 0;
		animation: slideFromLeft 1s ease 0s forwards, bunTopSqueeze $squeeze-duration ease-out $squeeze-delay + 3s forwards;
	}

	#bacon {
		background: url(../img/burger/8_bacon.png) #{$background-suffix};
		top: $burger-height * 1;
		animation: slideFromLeft 1s ease 1s forwards, baconSqueeze $squeeze-duration ease-out $squeeze-delay + 2s forwards;
	}

	#lettuce {
		background: url(../img/burger/7_lettuce.png) #{$background-suffix};
		top: $burger-height * 2;
		animation: slideFromLeft 1s ease 2s forwards, lettuceSqueeze $squeeze-duration ease-out $squeeze-delay + 1s forwards;
	}

	#tomatos {
		background: url(../img/burger/6_tomato.png) #{$background-suffix};
		top: $burger-height * 3;
		animation: slideFromLeft 1s ease 3s forwards, tomatosSqueeze $squeeze-duration ease-out $squeeze-delay + 0s forwards;
	}

	#brains {
		background: url(../img/burger/brains_02.png) #{$background-suffix};
		top: $burger-height * 4;
		height: $burger-height * 1.5;
		animation: slideFromLeft 1s ease 4s forwards;
	}

	#cheese {
		background: url(../img/burger/4_cheese.png) #{$background-suffix};
		top: $burger-height * 5.5 ;
		animation: slideFromLeft 1s ease 5s forwards, cheeseSqueeze $squeeze-duration ease-out $squeeze-delay + 0s forwards;;
	}

	#meat {
		background: url(../img/burger/3_meat.png) #{$background-suffix};
		top: $burger-height * 6.5;
		animation: slideFromLeft 1s ease 6s forwards, meatSqueeze $squeeze-duration ease-out $squeeze-delay + 1s forwards;
	}

	#ketchup{
		background: url(../img/burger/2_ketchup.png) #{$background-suffix};
		top: $burger-height * 7.5;
		animation: slideFromLeft 1s ease 7s forwards, ketchupSqueeze $squeeze-duration ease-out $squeeze-delay + 2s forwards;;
	}

	#bun-bottom{
		background: url(../img/burger/1_bun_bottom.png) #{$background-suffix};
		top: $burger-height * 8.5;
		animation: slideFromLeft 1s ease 8s forwards, bunBottomSqueeze $squeeze-duration ease-out $squeeze-delay + 3s forwards;
	}

	.burger {
		position: absolute;
		width: $burger-width;
		background-size: contain !important;
		height: $burger-height;
		left: -1000px;
	}

}

/*************** Keyframes ***************/

@keyframes slideFromLeft {
	100%{
		left: 0;
	}
}

@keyframes bunBottomSqueeze {
	100%{
		top: 388px;
	}
}

@keyframes ketchupSqueeze {
	100% {
		top: 381px;
	}
}

@keyframes meatSqueeze {
	100% {
		top: 354px;
	}
}

@keyframes cheeseSqueeze {
	100% {
		top: 343px;
	}
}

@keyframes tomatosSqueeze {
	100% {
		top: 258px;
	}
}

@keyframes lettuceSqueeze {
	100% {
		top: 240px;
	}
}

@keyframes baconSqueeze {
	100% {
		top: 230px;
	}
}

@keyframes bunTopSqueeze {
	100% {
		top: 200px;
	}
}

/* RAYS animation */
/* keyframes for animation;  simple 0 to 360 */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes showRays {
	from { opacity: 0;}
	to { opacity: 1;}
}


