@import 'normalize';
@import 'reset';

$blink-left: 5s;
$blink-right: 5s;

html,
body {
	background-color: hsl(177, 23%, 17%);
}

#container {
	position: relative;
	height: calc(100vh - 20px);
	width: 100vw;
}

/*************/
/*DONALD ZOMB*/
/*************/

#donald {
	position: absolute;
	top: 50px;
	right: 0px;
	height: 600px;
	width: 680px;
	background-image: url(../img/zombie/Donald-face-no-eyes.png);
	background-size: contain;
	background-repeat: no-repeat;

	#eyeleft{
		position: absolute;
		background: url(../img/zombie/eye-left.png) no-repeat center center;
		background-size: contain;
		height: 98px;
		width: 98px;
		top: 247px;
		left: 290px;
		animation: blink $blink-left linear infinite;
	}

	#eyeright{
		position: absolute;
		background: url(../img/zombie/eye-right.png) no-repeat center center;
		background-size: contain;
		height: 120px;
		width: 120px;
		top: 200px;
		right: 160px;
		animation: blink $blink-right linear infinite;
	}
}

@keyframes blink{
	0%{
		transform: scale(.7);
	}
	49%{
		transform: scale(.7);
	}
	50%{
		transform: scaleY(.1);
	}
	51%{
		transform: scale(.7);
	}
	100%{
		transform: scale(.7);
	}
}


/****************/
/*Speech Bubbles*/
/****************/

#speech{
	height: 100vh;
	width: 50%;
	position: relative;
	z-index: 100;

	span{
		text-transform: capitalize;
		color: crimson;
//		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
	}

	/*******************************/
	/* Speech bubble with a shadow */
	/*******************************/

	.bubble {
		/* Keep speech bubbles hidden at the beginning */
		transform: translateX(-800px);
		background-color: #fff0a0;
		background-image: linear-gradient(top, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0));
		border-radius: 10px;
		box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, .5), 3px 3px 0 hsla(0, 0%, 0%, .1);
		color: #333;
		display: inline-block;
		font: 28px/48px sans-serif;
//		font: 32px/50px sans-serif;
		margin: 25px 10px;
		padding: 30px 50px;
		position: relative;
		text-shadow: 0 1px 1px hsla(0, 0%, 100%, .5);
	}

	.bubble:after,
	.bubble:before {
		border-bottom: 25px solid transparent;
		border-right: 25px solid #fff0a0;
		top: 20px;
		content: '';
		position: absolute;
		right: -6px;
		transform: rotate(45deg);
	}

	#say1{
		animation: slideToRight 1s cubic-bezier(.66,.19,.49,1.27) .1s forwards 1;
	}

	#say2{
		animation: slideToRight 1s cubic-bezier(.66,.19,.49,1.27) 2s forwards 1;
	}

	#say3{
		animation: slideToRight 1s cubic-bezier(.66,.19,.49,1.27) 4s forwards 1;
	}

	#say4{
		animation: slideToRight 1s cubic-bezier(.66,.19,.49,1.27) 6s forwards 1;
	}
}

@keyframes slideToRight {
	100%{
		transform: translateX(0px);
	}
}

/**************************/
/* Next button (get busy) */
/**************************/

.btnNext{
	display: block;
	position: fixed;
	height: 50px;
	width: 200px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	border-radius: 10px 10px 0 0;
	background-color: crimson;
	left: 50%;
	bottom: -50px;
	z-index: 200;
	transform: translate(-100px, 0px);
	transition: background-color .6s;
	animation: slideUp .6s ease-out 6.5s forwards 1;

	&:hover{
		background-color: #f0f045;
		color: #10121f;
		transition: background-color .7s;
	}
}

@keyframes slideUp {
	0%{
		bottom: -50px;
	}
	100%{
		bottom: 0px;
	}
}
